/.venv/
/data/
python/models/runs
# /models/yolo26n.pt
/python/__pycache__
/python/models/__pycache__

__pycache__
runs


#src/sense/models/





*.wav

src/sense/models/**/*
!src/sense/models/**/.gitkeep
!src/sense/models/**/.gitkeep
!src/sense/models/qwen/README.md
!src/sense/models/faster_whisper/README.md






multimodal.egg-info
src/sense/test_py

!src/sense/models/
!src/sense/models/**/

test.py